[submodule "dependencies/args"]
	path = dependencies/args
	url = https://github.com/Taywee/args
[submodule "dependencies/openexr"]
	path = dependencies/openexr
	url = https://github.com/mitsuba-renderer/openexr
[submodule "dependencies/zlib"]
	path = dependencies/zlib
	url = https://github.com/Tom94/zlib
[submodule "dependencies/utfcpp"]
	path = dependencies/utfcpp
	url = https://github.com/Tom94/utfcpp
[submodule "dependencies/tinylogger"]
	path = dependencies/tinylogger
	url = https://github.com/Tom94/tinylogger
[submodule "dependencies/clip"]
	path = dependencies/clip
	url = https://github.com/Tom94/clip
[submodule "dependencies/DirectXTex"]
	path = dependencies/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "dependencies/nanogui"]
	path = dependencies/nanogui
	url = https://github.com/Tom94/nanogui-1
[submodule "dependencies/qoi"]
	path = dependencies/qoi
	url = https://github.com/phoboslab/qoi.git
