[Desktop Entry]
Type=Application
Version=1.0
Name=tev
GenericName=Image Viewer
Comment=High dynamic range (HDR) image comparison tool.
Exec=tev %F
Icon=tev
Terminal=false
MimeType=image/*;
Categories=Graphics;
