name: CI

on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build_linux:
    name: Build on linux systems
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04]

    steps:
      - name: Install dependencies
        run: sudo apt-get install cmake xorg-dev libglu1-mesa-dev zlib1g-dev zenity
      - uses: actions/checkout@v1
        with:
          submodules: recursive
      - name: CMake
        run: cmake .
      - name: Build
        run: make -j

  build_macos:
    name: Build on macOS
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v1
        with:
          submodules: recursive
      - name: CMake
        run: cmake .
      - name: Build
        run: make -j

  build_windows:
    name: Build on Windows
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v1
        with:
          submodules: recursive

      - name: Setup MSBuild.exe
        uses: warrenbuckley/Setup-MSBuild@v1

      - name: CMake
        run: cmake .
      - name: Build
        run: msbuild /v:m /p:Configuration=Release tev.sln
